h1{
    border: 2px solid white;
    border-width: 5px;
    background-color: whitesmoke;
    text-align: center;
    color:black;
}
h1:hover{
    color:rgba(53, 39, 131, 0.192);
    font-weight: lighter;
}
h2{
    text-align: center;
}
h2:hover{
    font-size: 30px;
    color: blueviolet;
}
p{
    color: lightseagreen;
    text-align: center;

}
button{
    color: maroon;
}
.bc{
    border: 5px solid red;
    border-radius: 10px;
    margin: 1%;
    padding: 5px;
    background-color: lime;
    float: left;
    height: 150px;
    width:28%
    
}
body{
    background-color: blueviolet;
}

